html, body {
    width: 100vw;
    height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
}

body {
    background-image: url('/img/26131370620_864014805a_o.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.viewport {
    width: 100vw;
    height: 100vh;
}

.name-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .1em;
    color: antiquewhite;
    text-shadow: 2px 2px black;
}

.name {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.title {
    font-size: 50px;
    font-weight: 700;
}

.navigation-links {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}