<!DOCTYPE html>
<html lang="en">

<head>
    {% if get_env(name="PROD", default="0") == "1" %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139565870-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139565870-1');
    </script>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ term.name }} - Boyd Johnson</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
</head>

<body>
    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/tags/">Tags</a></li>
                            <li class="is-active"><a href="{{ current_path }}" aria-current="page">{{ term.name }}</a></li>
                        </ul>
                    </div>
                    <h1 class="is-title is-4">Tags</h1>
                    <div>
                        <ul>
                            {% for page in term.pages %}

                            <li><a href="{{ page.path }}">{{ page.title }}</a></li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>