<!DOCTYPE html>
<html lang="en">

<head>
    {% if get_env(name="PROD", default="0") == "1" %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139565870-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139565870-1');
    </script>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boyd Johnson</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
</head>

<body class="has-background-grey-lighter" style="min-height: 100vh;">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
                        <div class="navbar-brand">
                            <a href="/about/" class="navbar-item has-text-weight-bold is-spaced">About</a>
                            <a href="/blog/" class="navbar-item has-text-weight-bold is-spaced">Blog</a>
                            <a href="/tags/" class="navbar-item has-text-weight-bold is-spaced">Tags</a>
                        </div>
                    </nav>
                    
                    <div class="content mt-4">
                        {{ section.content | safe }}
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</body>

</html>