<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ section.title }} - Boyd Johnson</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
</head>

<body>
    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="is-active"><a href="/blog/" aria-current="page">Blog</a></li>
                        </ul>
                    </div>
                    <h1 class="title is-4">Blog</h1>
                    <div>
                        <ul>
                            {% for page in section.pages %}

                            <li><a href="{{ page.path }}">{{ page.title }}</a></li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>